/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Bubu Ghost';
    src: url('assets/fonts/BubuGhost.woff2') format('woff2'),
        url('assets/fonts/BubuGhost.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@media only screen and (max-width: 1450px) {
}

@media only screen and (max-width: 1200px) {
    .text-box {
        margin: 3rem 2rem !important;
    }
}

@media only screen and (max-width: 1000px) {
    .large {
        display: none;
    }
    .small {
        display: unset !important; 
    }
    .card-container {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
    }
    #space-after {
        margin-top: 3rem;
    }
    .video-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; 
    }
    .video-container video {
        width: 100% !important;
    }
    .video-card {
        max-width: 35rem;
    }
    .column-one, .column-two {
        width: unset !important;
    }
    .content-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.small {
    display: none;
}



@media only screen and (max-width: 952px) {
    .scene-two {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;   
    }
    .scene-two .section-two {
        margin-right: 0 !important;
        margin-top: 2rem;
    }
    .scene-two .section-one {
        width: 80% !important;
    }
}

@media only screen and (max-width: 500px) {
    .teamIntro-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center !important;
            -ms-flex-align: center !important;
                align-items: center !important;
    }
}


h1, h2, p {
    font-family: "Bubu Ghost";
    color: white;
} 

h1 {
    font-size: calc(30px + .75vw);
}

h2 {
    font-size: calc(10px + .75vw);
}

p {
    font-size: calc(12px + .5vw);
}

header, footer, .scene {
    height: 100vh;
}

header {
    background-color: blue;
}

html {
    background-color: black;;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}

footer {
    background-color: green;
}

.figma-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.video-container {
    margin: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}

.video-container video {
    max-width: 35rem;
    width: 30vw;
}

.video-card {
    text-align: center;
    margin-top: .5rem;
    background-color: #202020;
    background-image:url(/assets/img/texture.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 20rem;
    background-position: top;
    border-radius: 1rem;
    border: 2px solid white;
    overflow: hidden;
}

.video-card p {
    margin: 2rem 0;
}

.scene {
    background-color: yellow;
}

.scene-one {
    width: 100% !important;
    height: 100% !important;
    background-color: lightblue;
}

.scene-one .fixed-section {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

.fixed-section .dead, .fixed-section .alive, .fixed-section .gradient {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 50%;
    background-color: black;
    opacity: .25;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: calc(40px + 8vw);
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Bubu Ghost';
    font-weight: 500;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
               0px 8px 10px rgba(0,0,0,0.2),
               0px 18px 20px rgba(0,0,0,0.2);
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 80rem;
}

.title-container .header {
    width: 100%;

}

.title-container .sub-header {
    width: 100%;
}

.margin-top {
    margin-top: 2rem;
}

.divider {
    height: 2px;
    width: 5rem;
    background-color: #89A26B;
    margin: 1rem 0;
}

.scene-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    padding: 8rem 0;
}

.scene-two .section-one{
    width: 50%;
}

.scene-two .section-two {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 3rem;
}

.scene-two .section-one img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    padding-left: 2rem;
}

.scene-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    background-color: black;
    padding: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.scene-three .section-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.scene-three .section-one .one {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
}

.scene-three .section-one .two {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%; 
}

.scene-three .section-one .three {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
}

.content img {
    width: 100%;
    max-width: 98rem;
}

.large-preview {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: top;
        background-image:url(/assets/img/large-preview.png);
        width: 100%;
        height: auto;
        font-family: Arial, Helvetica;
        letter-spacing: 0.02em;
         font-weight: 400;
        -webkit-font-smoothing: antialiased; 
}

.large-preview img {
    width: 100%;
    height: auto;
}


.button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10rem 0;
}

.button-container p {
    font-size: calc(30px + .75vw);
    color: black;
}

.button-container .button {
    padding: 2rem;
    font-size: 30px;
    border-radius: 20rem;
    border: none;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.button-container .button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 2rem;
}

.members {
    margin-top: 2rem;
}

.footer {
    border-top: 2px solid white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 0;
    background-color: #202020;
    background-image:url(/assets/img/texture.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 20rem;
    background-position: top;
}

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
}

.name-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
}

.name-container a {
    margin-left: 1rem;
}

.name-container .icon {
    height: 1rem;
    width: 1rem;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.name-container .icon:hover{
    cursor: pointer;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

.text-box {
    background-color: #202020;
    background-image:url(/assets/img/texture.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 20rem;
    background-position: top;
    padding: 4rem;
    border-radius: 3rem;
    border: 2px solid white;
    margin: 5rem 12rem;
    max-width: 86rem;
}

.text-box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#space {
    margin-top: 5rem;
}

#space-bottom {
    margin-bottom: 5rem;
}

.teamIntro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex;
        -ms-flex-pack: flex;
            justify-content: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.teamIntro-container {
    margin: 0 2rem;
}

.teamIntro-container img {
    height: 10rem;
    width: 10rem;
    margin-right: 1rem;
}

.content-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}


.content-container img:hover{
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
}

.column-one, .column-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.column-one img, .column-two img {
    max-width: 40vw;
    min-width: 300px;
    margin-top: 5rem;
    border: 2px white solid;
    border-radius: 1rem;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.section-name {
    text-align: center;

}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.row img {
    height: 30vw;
}