@font-face {
    font-family: 'Cinzel';
    src: url('assets/fonts/Cinzel-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fanwood Text';
    src: url('assets/fonts/FanwoodText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quattrocento';
    src: url('assets/fonts/Quattrocento.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, .scene {
    height: 100vh;
}

header {
    background-color: blue;
}

footer {
    background-color: green;
}

.scene {
    background-color: yellow;
}

.scene-one .fixed-section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.fixed-section img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(12px + 8vw);
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Cinzel';
    opacity: .8;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
               0px 8px 10px rgba(0,0,0,0.2),
               0px 18px 20px rgba(0,0,0,0.2);
}

h3 {
    color: white;
    font-family: 'Fanwood Text';
    font-size: calc(12px + 1.5vw);
}

h2 {
    font-family: 'Quattrocento';
    color: white;
    font-size: calc(12px + 2vw);
}

p {
    font-family: 'Fanwood Text';
    color: white;
    font-size: calc(12px + 1vw);
}

.margin-top {
    margin-top: 2rem;
}

.divider {
    height: 2px;
    width: 20rem;
    background-color: #89A26B;
    margin: 1rem 0;
}

.scene-two {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.scene-two .section-one{
    width: 50%;
}

.scene-two .section-two {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin-right: 3rem;
}

.scene-two .section-one img {
    object-fit: contain;
    width: 100%;
}

.scene-three {
    display: flex;
    height: 50vh;
    background-color: black;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
}

.scene-three .section-one {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.scene-three .section-one .one {
    flex-grow: 1;
    height: 100%;
}

.scene-three .section-one .two {
    flex-grow: 1;
    height: 100%; 
}

.scene-three .section-one .three {
    flex-grow: 1;
    height: 100%;
}